#responses {
  display: none;
  font-size: 16pt;
}

#stress-test {
  font-size: 16pt;
}

.Resource1 {
  display: none;
  font-size: 16pt;
}

.Resource2 {
  display: none;
  font-size: 16pt;
}

.Resource3 {
  display: none;
  font-size: 16pt;
}

.container {
  background-color: #ff9c71;
  margin-bottom: 2%;
}

.jumbotron {
  background-color: #726a95;
  text-align: center;
}

body {
  background-image: url(https://www.publicdomainpictures.net/pictures/150000/velka/tropical-beach-1454007190ZAK.jpg);
  font-family: 'Montserrat', sans-serif;
}

.btn {
  margin: 2%;
}

h2 {
  font-size: 5em;
  font-weight: 700;
  text-align: center;
}

img {
  border-radius: 2%;
}
